<ion-header>
  <ion-navbar>
     <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div>
     <ion-item *ngIf="isEdited && !hideForm">
        <button
           ion-button
           item-right
           color="secondary"
           text-center
           block
           (click)="deleteEntry()">Eliminar?</button>
     </ion-item>


     <div *ngIf="hideForm">
        <ion-item class="post-entry-message" text-wrap>
           <h2>Correcto!</h2>
        </ion-item>
     </div>


     <div *ngIf="!hideForm">
        <form [formGroup]="form" (ngSubmit)="saveEntry()">

           <ion-list>

              <ion-item-group>
                 <ion-item-divider color="light">Nombres *</ion-item-divider>
                 <ion-item>
                    <ion-input
                       type="text"
                       placeholder="Ingrese Nombre y Apellido..."
                       formControlName="nombre"
                       [(ngModel)]="Nombre"></ion-input>
                 </ion-item>
              </ion-item-group>

              <ion-item-group>
                  <ion-item-divider color="light">WhatsApp *</ion-item-divider>
                  <ion-item>
                     <ion-input
                        type="number"
                        placeholder="Ingrese WhatsApp..."
                        formControlName="whatsapp"
                        [(ngModel)]="WhatsApp"></ion-input>
                  </ion-item>
               </ion-item-group>

               

              <ion-item>
                 <button
                    ion-button color="primary"
                    text-center
                    block
                    >Agregar</button>
              </ion-item>

           </ion-list>

        </form>
     </div>
  </div>


</ion-content>
